<!DOCTYPE html>
<html>
<head>
  <title>System rezerwacji</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "jquery", "application" %>
  <%= csrf_meta_tags %>

<script>
$(document).ready(function(){
    $("h1").click(function(){
        $("div").animate({left: '250px'});
    });
});
</script>

</head>
 <body>
  <% #Oparcie głównego szkieletu strony o siatkę Bootsrapa %>
   <div class="container">  
    <div class="row">
      <div class="col-md-6">
        <% #Dodanie podszablonu z menu strony. %>
        <br><%= render :partial => "layouts/menu" %>
      </div>
    </div> <br>
    <div class="row">
     <div class="col-md-5">
        <% # Podczas każdej akcji widoczna po lewej stronie lista pokoi. %>
        <h1>Pokoje</h1>
        <% # Wyświetlanie pokoi znajdujących się na poszczególnych piętrach %>
        <% for num in (1..4) %>
         <b> Piętro <%= num %> </b><br>
         <ul>
           <% @rooms = Room.all %>
           <% @rooms.where(floor: num).each do |room| %>
            <li> 
              Pokój <%= room.id %>,
              ilość miejsc: <%= room.places %>,
              standard: <%= room.standard %> <br>
               <% if(current_user) then %>
                  <%= link_to 'Edytuj pokój', edit_room_path(room) %> |
                  <%= link_to 'Usuń pokój', room, method: :delete, data: { confirm: 'Na pewno chcesz usunąć ten pokój?' } %> 
               <% end %>
            </li>
           <% end %>
         </ul>
      <% end %>
      <br> <br>
     </div>
     <div id="changed_content" class="col-md-6">
       <%= yield %> 
     </div>
    </div>
   </div>
  <hr style="border-color: black, border-style: solid">
  <footer style="text-align:center">&copyBarbara Sapielak</footer>
  </body>
</html>
