<p id="notice"><%= notice %></p>

<p>
  <strong>Piętro:</strong>
  <%= @room.floor %>
</p>

<p>
  <strong>Miejsca:</strong>
  <%= @room.places %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @room.standard %>
</p>

<%= link_to 'Edytuj', edit_room_path(@room) %> |
<%= link_to 'Anuluj', root_path %>

