<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    
  <% end %>

  <div class="field">
    <%= f.label "Na nazwisko" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Początek rezerwacji" %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label "Doby hotelowe" %><br>
    <%= f.number_field :days, :min=>'1', :max=>'365' %>

  </div>
  <div class="Numer pokoju">
    <%= f.label :Pokój %><br>
    <%= f.select :room_id, options_for_select(Room.all.map{|r| ["nr #{r.id.to_s}, #{r.places.to_s}-osobowy, standard: #{r.standard}, #{r.floor} piętro", r.id]}) %>
  </div> <br>
  <div class="actions">
    <%= f.submit("Rezerwuj") %>
  </div>
<% end %>
