<p id="notice"><%= notice %></p>

<h1>Lista rezerwacji</h1>

<table>
  <thead>
    <tr>
      <th>Na imię</th>
      <th>Rezerwacja od</th>
      <th>Długość rezerwacji</th>
      <th>Pokój </th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.name %></td>
        <td><%= reservation.start %></td>
        <td><%= reservation.days.to_s + " (doby hotelowe)"%></td>
        <td><%= reservation.room %></td>
        
        <td><%= link_to 'Szczegóły rezerwacji', reservation %></td>
        <td><%= link_to 'Edytuj rezerwację', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Odwołaj rezerwację', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
