<p id="notice"><%= notice %></p>


  <strong>Na imię/nazwisko/nick:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Początek rezerwacji:</strong>
  <%= @reservation.start %> 
   
</p>

<p>
  <strong>Doby hotelowe: </strong>
  <%= @reservation.days %>
</p>

<p>
  <strong>Pokój: </strong>
  <%= @reservation.room %>
</p>

<p>
  <strong>Osoba rejestrująca:</strong>
  <%= @reservation.user %>
</p>

<%= link_to 'Edytuj rezerwację', edit_reservation_path(@reservation) %> |
<%= link_to 'Powrót', reservations_path %>
